header {
    border: 2px solid rgb(43, 101, 166);
    background-color: rgb(126, 197, 241);
    display: flex;
    justify-content: space-between;
}
nav {
    border: 1px solid rgb(234, 163, 40);
}
nav ul { 
    display:flex;
    justify-content: start;
    list-style-type: none;
}
nav ul li {
    padding: 5px;
}
nav ul li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
#project{
    width:200px;
    border:1px solid black;
    padding: 7px;
}
#project img{
    width:200px;
    height: 100px;
}
#projects{
    display: flex;
    justify-content:space-between;
    margin: 16px;
}
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

}
#contacts {
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
}
#contacts a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

